[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
# django packages
django = "==3.2.18"
django-environ = "==0.10.0"
gunicorn = "==20.1.0"
celery = "*"
django-redis = "*"

[dev-packages]

[requires]
python_version = "3.8"
